/*
  OpenEdition Checklist :
  Template pour Lodel
  =======================
*/

/* Styles génériques */

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a, a:visited {
  color: #056A87;
}

a:hover, a:active, a:focus {
  color: #023746;
}

.ckl-main {
  position: relative;
  display: block;
  max-width: 900px;
  margin: 0 auto;
}

/* Article et champs basiques */

.ckl-section {
  border-top: 4px solid #ddd;
  padding: 16px 0;
}

.ckl-section:first-child, .ckl-cartouche + .ckl-section {
  border-top: none;
}

.ckl-cartouche {
  background-color: #ddd;
  border-radius: 5px;
  padding: 16px 0;
  margin: 10px 0;
}

.ckl-field {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0 10px;
}

.ckl-field .ckl-field {
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.ckl-field:first-child {
  margin-top: 0;
}

.ckl-field:last-child {
  margin-bottom: 0;
}

.ckl-field-title {
  color: #777;
}

.ckl-field-ml-lang {
  color: #fff;
  background-color: #999;
  padding: 3px 6px;
  border-radius: 2px;
  margin-right: 6px;
  font-size: 12px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* Personnes */

.ckl-personne-description {
  font-size: 14px;
  color: #666;
  margin: 0;
  margin-top: 6px;
}

.ckl-personne-familyname {
  margin-left: 15px;
  min-width: 100px;
  display: inline-block;
}

/* Fichiers */

.ckl-fichier, .ckl-fichierexterne {
  margin-bottom: 20px;
  border-left: 4px solid #FFE49F;
  padding-left: 10px;
}

.ckl-fichier p, .ckl-fichierexterne p {
  margin: 0 0 4px 0;
}

/* Plan d'article */

.ckl-toc > ul {
  padding-left: 0;
}

.ckl-toc ul {
  list-style-type: none;
}

/* Personnalisations de champs article */

[data-field=titre] .ckl-field-value {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
  font-size: 36px;
}

[data-field=soustitre] .ckl-field-value {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
}

/* Labels de champs */

[data-label] {
  position: relative;
  padding-top: 15px;
}

[data-label]::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #f8b500;
}

/* Labels dans le texte */

.ckl-field-text .ckl-field-value > ::before,
.ckl-field-text p::before {
  display: block;
  font-weight: bold;
  overflow-wrap: break-word;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #f8b500;
}

.ckl-field-text .ckl-field-value > p::before,
.ckl-field-text p[class^="citation"]::before,
.ckl-field-text .titreillustration::before,
.ckl-field-text .legendeillustration::before,
.ckl-field-text .creditillustration::before {
  content: attr(class);
}

.ckl-field-text .ckl-field-value > h1::before {
  content: 'titre 1';
}

.ckl-field-text .ckl-field-value > h2::before {
  content: 'titre 2';
}

.ckl-field-text .ckl-field-value > h3::before {
  content: 'titre 3';
}

.ckl-field-text .ckl-field-value > h4::before {
  content: 'titre 4';
}

.ckl-field-text .ckl-field-value > h5::before {
  content: 'titre 5';
}

.ckl-field-text .ckl-field-value > h6::before {
  content: 'titre 6';
}

/* Numerotation des paragraphes */

.ckl-field-text {
    counter-reset: p; /* Set the p counter to 0 */
}

.ckl-field-text .ckl-field-value > p.texte {
  position: relative;
}

.ckl-field-text .ckl-field-value > p.texte:after {
    counter-increment: p; /* Increment the p counter */
    content: counter(p); /* Display the counter */
    position: absolute;
    left: -30px;
    top: 16px;
    font-size: 12px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #aaa;
}

/* Styles du texte de l'article */

.ckl-field-text .ckl-field-value {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
  line-height: 150%;
}

.ckl-field-text p {
  margin: 16px 0;
}

.ckl-field-text blockquote {
  margin-left: 20px;
}

.ckl-field-text p.citation,
.ckl-field-text p.citationbis,
.ckl-field-text p.citationter {
  font-size: 14px;
  color: #777;
  border-left: 4px solid #ddd;
  padding-left: 20px;
}

.ckl-field-text p.citationbis {
  border-left-style: dashed;
}

.ckl-field-text p.citationter {
  border-left-style: dotted;
}

.ckl-field-text ul,
.ckl-field-text ol {
  font-size: 14px;
}

.ckl-field-text img {
  max-width: 100%;
}

.ckl-field-text table {
  font-size: 12px;
}

.ckl-field-text a[id^=tocto]:not(:hover) {
  text-decoration: none;
}

.ckl-field-text .encadre {
  background-color: #eee;
  margin-bottom: 0;
  padding: 16px;
}

.ckl-field-text .groupe-illustration,
.ckl-field-text .textIcon {
  padding-left: 20px;
  border-left: 4px solid #FFE49F;
}

.ckl-field-text .titreillustration,
.ckl-field-text .legendeillustration,
.ckl-field-text .creditillustration {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 125%;
}

.ckl-field-text .titreillustration {
  font-weight: bold;
}

.ckl-field-text .creditillustration {
  color: #777;
}

.ckl-field-text .encadre + .encadre {
  margin-top: 0;
  padding-top: 0;
}

.ckl-field-text .separateur {
  text-align: center;
  color: #999;
  font-size: 20px;
}

.ckl-field-text .question, .ckl-field-text .reponse {
  color: #444;
}

.ckl-field-text .question {
  font-weight: bold;
}

.ckl-field-text .code {
  font-family: "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 14px;
  line-height: 125%;
}

/* Bibliographie, annexe, notes */

[data-field=bibliographie],
[data-field=annexe],
[data-field=notesbaspage],
[data-field=notefin] {
  font-size: 14px;
}

.footnotecall, .FootnoteSymbol {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.footnotecall {
  margin-left: 4px;
}

.footnotecall::before, .FootnoteSymbol::before {
  content: "[";
}

.footnotecall::after, .FootnoteSymbol::after {
  content: "]";
}

/* Styles media desktop */

@media screen and (min-width: 500px) {
  .ckl-field {
    display: flex;
    align-items: flex-start;
  }

  .ckl-field-title {
    min-width: 300px;
    width: 300px;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
  }

  .ckl-field-value :first-child {
    margin-top: 0;
  }

  .ckl-field-value :last-child {
    margin-bottom: 0;
  }

  [data-field=titre] .ckl-field-title {
    padding-top: 20px;
  }
}
