body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.ckl-field {
  margin-bottom: 8px;
}

.ckl-field-title {
  color: #777;
}

.ckl-field-ml-lang {
  color: #fff;
  background-color: #999;
  padding: 3px 6px;
  border-radius: 2px;
  margin-right: 6px;
  font-size: 12px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.ckl-toc > ul {
  padding-left: 0;
}

.ckl-toc ul {
  list-style-type: none;
}

@media screen and (min-width: 500px) {
  .ckl-field {
    display: flex;
    align-items: flex-start;
  }

  .ckl-field-title {
    min-width: 300px;
    width: 300px;
  }

  .ckl-field-value :first-child {
    margin-top: 0;
  }
}
