/*
  OpenEdition Checklist :
  Template pour Lodel
  =======================
*/

/* Styles génériques */

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f6f8fa;
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #006fe6;
}

a:hover, a:active, a:focus {
  color: #007bff;
}

.hidden {
  display: none;
}

/* Main content + Pane */
.ckl-main {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  
}

.ckl-pane {
  flex: 1 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 360px;
  max-width: 360px;
  height: 100vh;
}

.ckl-content {
  flex: 1;
  padding: 0 40px 100px;
  background-color: #fff;
  border-left: #dde1e4 1px solid;
  border-right: #dde1e4 1px solid;
}

/* Nav-entities: breadcrumbs + siblings */
.ckl-nav-entities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  color: #586069;
}

.ckl-nav-entities a {
  color: #586069;
}

.ckl-nav-entities a:hover, .ckl-nav-entities a:active, .ckl-nav-entities a:focus {
  color: #4c535b;
}

.ckl-siblings {
  flex: 1;
  min-width: 70px;
  flex-basis: auto;
  text-align: right;
}

.ckl-siblings .btn {
  display: inline-block;
  font-size: 16px;
  padding: 4px 6px;
}

/* Article et champs basiques */

.ckl-section {
  border-top: 1px solid #dde1e4;
  padding: 16px 0;
}

.ckl-section:first-child, .ckl-cartouche + .ckl-section {
  border-top: none;
}

.ckl-cartouche {
  background-color: #f6f8fa;
  border: #dde1e4 1px solid;
  border-radius: 5px;
  padding: 16px 0;
  margin: 10px 0;
}

.ckl-section-title {
  font-weight: normal;
  font-size: 22px;
  color: #4c535b;
}

.ckl-field {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0 10px;
}

.ckl-field .ckl-field {
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.ckl-field:first-child {
  margin-top: 0;
}

.ckl-field:last-child {
  margin-bottom: 0;
}

.ckl-field-title {
  font-size: 15px;
  color: #79848E;
}

.ckl-field-ml-lang {
  color: #fff;
  background-color: #C6CDD2;
  padding: 3px 6px;
  border-radius: 2px;
  margin-right: 6px;
  font-size: 12px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.ckl-traductions ul {
  list-style-type: none;
  padding: 0;
}

.ckl-traductions li {
  margin-top: 8px;
}

/* Personnes */

.ckl-personne-description {
  font-size: 14px;
  color: #586069;
  margin: 0;
  margin-top: 6px;
}

.ckl-personne-familyname {
  margin-left: 15px;
  min-width: 100px;
  display: inline-block;
}

/* Fichiers */

.ckl-fichier, .ckl-fichierexterne {
  margin-bottom: 20px;
  border-left: 4px solid #dde1e4;
  padding-left: 10px;
}

.ckl-fichier p, .ckl-fichierexterne p {
  margin: 0 0 4px 0;
}

/* Plan d'article */

.ckl-a-toc > ul {
  padding-left: 0;
}

.ckl-a-toc ul {
  list-style-type: none;
}

.ckl-a-toc li::before {
  content: "titre " attr(data-toc-level);
  display: inline;
  margin-right: 10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #f8b500;
  font-weight: bold;
}

/* Personnalisations de champs article */

[data-field=titre] .ckl-field-value {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
  font-size: 36px;
}

[data-field=soustitre] .ckl-field-value {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
}

/* Labels de champs */

[data-label] {
  position: relative;
  padding-top: 15px;
}

[data-label]:not(:empty)::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #f8b500;
}

/* Labels dans le texte */

.ckl-field-text .ckl-field-value > ::before,
.ckl-field-text p::before {
  display: block;
  font-weight: bold;
  overflow-wrap: break-word;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #f8b500;
}

.ckl-field-text .ckl-field-value > p::before,
.ckl-field-text p[class^="citation"]::before,
.ckl-field-text .titreillustration::before,
.ckl-field-text .legendeillustration::before,
.ckl-field-text .creditillustration::before {
  content: attr(class);
}

.ckl-field-text .ckl-field-value > h1::before {
  content: 'titre 1';
}

.ckl-field-text .ckl-field-value > h2::before {
  content: 'titre 2';
}

.ckl-field-text .ckl-field-value > h3::before {
  content: 'titre 3';
}

.ckl-field-text .ckl-field-value > h4::before {
  content: 'titre 4';
}

.ckl-field-text .ckl-field-value > h5::before {
  content: 'titre 5';
}

.ckl-field-text .ckl-field-value > h6::before {
  content: 'titre 6';
}

/* Numerotation des paragraphes */

.ckl-field-text {
    counter-reset: p; /* Set the p counter to 0 */
}

.ckl-field-text .ckl-field-value > p.texte {
  position: relative;
}

.ckl-field-text .ckl-field-value > p.texte:after {
    counter-increment: p; /* Increment the p counter */
    content: counter(p); /* Display the counter */
    position: absolute;
    left: -30px;
    top: 16px;
    font-size: 12px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #586069;
}

/* Styles du texte de l'article */

.ckl-field-text .ckl-field-value {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
  line-height: 150%;
  max-width: 600px;
}

.ckl-field-text p {
  margin: 16px 0;
}

.ckl-field-text blockquote {
  margin-left: 20px;
}

.ckl-field-text p.citation,
.ckl-field-text p.citationbis,
.ckl-field-text p.citationter {
  font-size: 14px;
  color: #586069;
  border-left: 4px solid #dde1e4;
  padding-left: 20px;
}

.ckl-field-text p.citationbis {
  border-left-style: dashed;
}

.ckl-field-text p.citationter {
  border-left-style: dotted;
}

.ckl-field-text ul,
.ckl-field-text ol {
  font-size: 14px;
}

.ckl-field-text img {
  max-width: 100%;
}

.ckl-field-text table {
  font-size: 12px;
  border-spacing: 0;
  border-collapse: collapse;
}

.ckl-field-text table td {
  margin: 0;
  padding: 4px;
}

.ckl-field-text a[id^=tocto]:not(:hover) {
  text-decoration: none;
}

.ckl-field-text .encadre {
  background-color: #f6f8fa;
  margin-bottom: 0;
  padding: 16px;
}

.ckl-field-text .groupe-illustration,
.ckl-field-text .textIcon {
  padding-left: 20px;
  border-left: 4px solid #FFE49F;
}

.ckl-field-text .titreillustration,
.ckl-field-text .legendeillustration,
.ckl-field-text .creditillustration {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 125%;
}

.ckl-field-text .titreillustration {
  font-weight: bold;
}

.ckl-field-text .creditillustration {
  color: #586069;
}

.ckl-field-text .encadre + .encadre {
  margin-top: 0;
  padding-top: 0;
}

.ckl-field-text .separateur {
  text-align: center;
  color: #4c535b;
  font-size: 20px;
}

.ckl-field-text .question, .ckl-field-text .reponse {
  color: #4c535b;
}

.ckl-field-text .question {
  font-weight: bold;
}

.ckl-field-text .code {
  font-family: "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 14px;
  line-height: 125%;
}

/* Bibliographie, annexe, notes */

[data-field=bibliographie] .ckl-field-value,
[data-field=annexe] .ckl-field-value,
[data-field=notesbaspage] .ckl-field-value,
[data-field=notefin] .ckl-field-value {
  font-size: 14px;
}

.footnotecall, .FootnoteSymbol {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.footnotecall {
  margin-left: 4px;
}

.footnotecall::before, .FootnoteSymbol::before {
  content: "[";
}

.footnotecall::after, .FootnoteSymbol::after {
  content: "]";
}

/* Indexes */

.ckl-index-list {
  list-style-type: none;
}

.ckl-index-alphabetique .ckl-index-list,
.ckl-index-personnes .ckl-index-list,
.ckl-index-list-root {
  padding: 0;
}

.ckl-index-list-nested {
  margin: 0 0 0 1em;
  padding: 0;
}

.ckl-index-list-nested li {
  margin-left: 0.35em;
  border-left: 1px solid #000;
}

.ckl-index-list-nested li:last-child {
  border-left: none;
}

.ckl-index-list-nested li:before {
  width: 0.9em;
  height: 0.6em;
  margin-right: 0.1em;
  vertical-align: top;
  border-bottom: 1px solid #000;
  content: "";
  display: inline-block;
}

.ckl-index-list-nested li:last-child:before {
  border-left: 1px solid #000;
}

/* Styles media desktop */

@media screen and (min-width: 1150px) {
  .ckl-field {
    display: flex;
    align-items: flex-start;
  }

  .ckl-field-title {
    flex-shrink: 0;
    min-width: 200px;
    width: 200px;
    padding-right: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
  }

  .ckl-field-value :first-child {
    margin-top: 0;
  }

  .ckl-field-value :last-child {
    margin-bottom: 0;
  }

  [data-field=titre] .ckl-field-title {
    padding-top: 20px;
  }

  .ckl-summary-publi-header [data-field=titre] .ckl-field-title {
    padding-top: 12px;
  }
}

/* Personnalisation des styles du script */
.checklist-entry-title span.authors,
.checklist-entry-title span.title {
  display: block;
}

.checklist-entry-title .title {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
  font-size: 24px;
}

.checklist-entry-title .authors {
  font-size: 16px;
}

/* Masquer le fil d'arianne de Lodel */
#siteContext {
  display: none;
}

/* Fix Lodel : eviter le scroll horizontal */
img#lodelGlobalDeskDisplayer-img {
  display: block;
  padding: 5px 0;
}
