/*
  OpenEdition Checklist :
  Template pour Lodel
  =======================
*/

/* Styles génériques */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background-color: #f6f8fa;
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #1976d2;
}

a:hover, a:active, a:focus {
  color: #1565c0;
}

.hidden {
  display: none;
}

/* Main content + Pane */
.ckl-main {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  
}

.ckl-pane {
  flex: 1 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 360px;
  max-width: 360px;
  height: 100vh;
}

.ckl-content {
  flex: 1;
  padding: 0 40px;
  background-color: #fff;
  border-left: #dde1e4 1px solid;
  border-right: #dde1e4 1px solid;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Nav-entities: breadcrumbs + siblings */
.ckl-nav-entities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  color: #586069;
  font-size: 15px;
}

.ckl-nav-entities.position-bottom {
  border-top: 1px solid #dde1e4;
  padding: 16px 0;
  margin-top: 40px;
}

.ckl-nav-entities a {
  color: #586069;
}

.ckl-nav-entities a:hover, .ckl-nav-entities a:active, .ckl-nav-entities a:focus {
  color: #4c535b;
}

.ckl-breadcrumbs i, .ckl-breadcrumbs a {
  margin-right: 5px;
}

.ckl-siblings {
  flex: 1;
  min-width: 70px;
  flex-basis: auto;
  text-align: right;
}

.ckl-siblings .btn {
  display: inline-block;
  font-size: 16px;
  padding: 4px 6px;
}

/* Home */

.ckl-home .ckl-content {
  padding-bottom: 40px;
}

.ckl-tabs {
  border-bottom: 1px solid #dde1e4;
  height: 40px;
  display: flex;
  justify-items: flex-start;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  margin: 30px 0;
}

.ckl-tab, .ckl-tab:visited {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-bottom: 0;
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}

.ckl-tab.active {
  color: #000;
  font-weight: bold;
  margin-bottom: -1px;
  cursor: default;
}

.ckl-tab.active, .ckl-tab:hover {
  border-color: #dde1e4;
}

.main-title {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
  font-size: 36px;
  font-weight: normal;
  color: #000;
}

.ckl-issues {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  margin-left: -16px;
  margin-right: -16px;
}

.ckl-issues-filters {
  display: flex;
  align-items: baseline;
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #C6CDD2;
}

.ckl-issues-filters > * {
  margin-right: 10px;
} 

.ckl-issues-filters-title {
  font-weight: normal;
  color: #79848E;
  font-size: 16px;
  margin-right: 20px;
}

.ckl-issues-filters-title .fas {
  font-size: 80%;
  margin-right: 5px;
}

.ckl-issues-filter {
  padding: 3px;
  color: #79848E;
  border: 1px solid #C6CDD2;
}

.ckl-issue-filters-clear {
  background: none;
  cursor: pointer;
  text-decoration: underline;
  border: none;
  color: #79848E;
}

.ckl-issue-filters-clear:hover {
  color: #4c535b;
}

.ckl-issues-none {
  text-align: center;
  margin-top: 50px;
  color: #9CA4AB;
}

.ckl-issue, .ckl-issue-placeholder {
  background: #f6f8fa;
  flex-grow: 1;
  flex-basis: 400px;
  width: 400px;
  margin: 16px;
  padding: 16px;
  border: #dde1e4 1px solid;
  border-radius: 5px;
}

.ckl-issue-placeholder {
  visibility: hidden;
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.ckl-issue-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

.ckl-issue-title a {
  color: #4c535b;
  text-decoration: none;
}

.ckl-issue-row {
  display: flex;
  align-items: flex-start;
}

.ckl-issue-stackedbar-container {
  flex: 1;
}

.ckl-issue-stackedbar-container .checklist-stackedbar {
  margin-top: 50px;
  margin-bottom: 10px;
}

.ckl-issue-link {
  width: auto;
  margin-left: 10px;
  margin-top: 55px;
  text-decoration: none;
}

.ckl-issue-title a:hover, .ckl-issue-link:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 30px 0;
}

.page-link {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #dde1e4;
  text-decoration: none;
  border-radius: 5px;
}

.page-link:hover {
  background-color: #dde1e4;
}

.active .page-link, .active .page-link:hover {
  color: #fff;
  background-color: #1565c0;
  border-color: #1565c0;
}

/* Publication */

.ckl-toc-header {
  border-top: 1px solid #dde1e4;
  padding-top: 10px;
  margin: 40px -40px 0;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,248,250,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,248,250,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,248,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f6f8fa",GradientType=1); 
}

.ckl-check-img {
  max-height: 50px;
  margin: 40px auto;
  display: block;
}

.ckl-toc-title, .checklist-report-context-publications + .checklist-toc-section > .checklist-toc-section-heading {
  color: #79848E;
  font-size: 20px;
  font-weight: bold;
  margin-top: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border: none;
  text-align: center;
}

.ckl-publication .ckl-toc-title, .ckl-publication .ckl-toc {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.checklist-toc {
  margin-top: 0;
}

.checklist-toc-section .checklist-toc-section-contents {
  padding-left: 0;
}

.checklist-toc-section .checklist-toc-section-contents .checklist-toc-section-contents {
  padding-left: 40px;
}

.checklist-entry-title span.authors,
.checklist-entry-title span.title {
  display: block;
}

.checklist-entry-title .title {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
  font-size: 24px;
}

.checklist-entry-title .authors {
  font-size: 16px;
}

.checklist-toc-entry.checklist-report-context-publications {
  background-color: #fff;
  margin-top: 0;
}

.checklist-toc-entry.checklist-report-context-publications,
.checklist-report-context-publications .checklist-toc-entry-footer a,
.checklist-report-context-publications .checklist-toc-entry-header {
  border: none;
}

.checklist-toc-entry.checklist-report-context-publications .checklist-toc-entry-contents {
  padding: 0;
}

.checklist-toc-entry.checklist-report-context-publications .checklist-report {
  padding: 10px 0 5px 0;
}

.checklist-toc-entry.checklist-report-context-publications .checklist-report-run {
  margin: 20px auto 0 auto;
}

.checklist-toc-entry.checklist-report-context-publications .checklist-toc-entry-header,
.checklist-toc-entry.checklist-report-context-publications .checklist-report-metadatas,
.checklist-toc-entry.checklist-report-context-publications .checklist-toc-entry-footer {
  display: none;
}


/* Article et champs basiques */

.ckl-section {
  border-top: 1px solid #dde1e4;
  padding: 16px 0;
}

.ckl-section:first-child, .ckl-cartouche + .ckl-section {
  border-top: none;
}

.ckl-cartouche {
  background-color: #f6f8fa;
  border: #dde1e4 1px solid;
  border-radius: 5px;
  padding: 16px 0;
  margin: 10px 0;
}

.ckl-status-icon {
  margin-right: 4px;
}

.ckl-section-title {
  font-weight: normal;
  font-size: 22px;
  color: #4c535b;
}

.ckl-field {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0 10px;
}

.ckl-field .ckl-field {
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.ckl-field:first-child {
  margin-top: 0;
}

.ckl-field:last-child {
  margin-bottom: 0;
}

.ckl-field-title {
  font-size: 15px;
  color: #79848E;
}

.ckl-field-value {
  font-size: 15px;
}

.ckl-field-ml-lang {
  color: #fff;
  background-color: #C6CDD2;
  padding: 3px 6px;
  border-radius: 2px;
  margin-right: 6px;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.ckl-traductions ul {
  list-style-type: none;
  padding: 0;
}

.ckl-traductions li {
  margin-top: 8px;
}

/* Personnes */

a.ckl-personne{
  text-decoration: none;
}

.ckl-personne + .ckl-personne {
  margin-top: 20px;
}

.ckl-personne-description {
  font-size: 14px;
  color: #586069;
  margin: 0;
  margin-top: 6px;
}

.ckl-personne-firstname {
  display: inline-block;
  min-width: 40px;
}

.ckl-personne-familyname {
  margin-left: 10px;
  min-width: 80px;
  display: inline-block;
}

/* Fichiers */

.ckl-fichier, .ckl-fichierexterne {
  margin-bottom: 20px;
  border-left: 4px solid #dde1e4;
  padding-left: 10px;
}

.ckl-fichier p, .ckl-fichierexterne p {
  margin: 0 0 4px 0;
}

/* Plan d'article */

.ckl-a-toc > ul {
  padding-left: 0;
}

.ckl-a-toc ul {
  list-style-type: none;
}

.ckl-a-toc li::before {
  content: "titre " attr(data-toc-level);
  display: inline;
  margin-right: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #9CA4AB;
  font-weight: bold;
}

/* Personnalisations de champs article */

[data-field=titre] .ckl-field-value {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
  font-size: 36px;
}

[data-field=soustitre] .ckl-field-value {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
}

/* Labels de champs */

[data-label] {
  position: relative;
  padding-top: 15px;
}

[data-label]:not(:empty)::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #9CA4AB;
  white-space: nowrap;
}

/* Labels dans le texte */

.ckl-field-text .ckl-field-value > ::before,
.ckl-field-text p::before {
  display: block;
  font-weight: bold;
  overflow-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  line-height: 12px;
  color: #9CA4AB;
}

.ckl-field-text .ckl-field-value > p::before,
.ckl-field-text p[class^="citation"]::before,
.ckl-field-text .titreillustration::before,
.ckl-field-text .legendeillustration::before,
.ckl-field-text .creditillustration::before {
  content: attr(class);
}

.ckl-field-text .ckl-field-value > h1::before {
  content: 'titre 1';
}

.ckl-field-text .ckl-field-value > h2::before {
  content: 'titre 2';
}

.ckl-field-text .ckl-field-value > h3::before {
  content: 'titre 3';
}

.ckl-field-text .ckl-field-value > h4::before {
  content: 'titre 4';
}

.ckl-field-text .ckl-field-value > h5::before {
  content: 'titre 5';
}

.ckl-field-text .ckl-field-value > h6::before {
  content: 'titre 6';
}

/* Numerotation des paragraphes */

.ckl-field-text {
  counter-reset: p; /* Set the p counter to 0 */
}

.ckl-field-text .ckl-field-value > p.texte {
  position: relative;
}

body:not(.type-index):not(.type-bibliographie) .ckl-field-text .ckl-field-value > p.texte:not([data-numbering="false"]):after {
  counter-increment: p; /* Increment the p counter */
  content: counter(p); /* Display the counter */
  position: absolute;
  left: -30px;
  top: 16px;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #586069;
}

/* Styles du texte de l'article */

.ckl-field-text .ckl-field-value {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
  line-height: 150%;
  max-width: 600px;
  font-size: 16px;
}

.ckl-field-text p {
  margin: 16px 0;
}

.ckl-field-text h1.texte {
  font-size: 1.8rem;
}

.ckl-field-text h2.texte {
  font-size: 1.5rem;
}

.ckl-field-text h3.texte {
  font-size: 1.3rem;
}

.ckl-field-text h4.texte {
  font-size: 1.1rem;
}

.ckl-field-text h5.texte {
  font-size: 1rem;
}

.ckl-field-text h6.texte {
  font-size: .9rem;
}

.ckl-field-text blockquote {
  margin-left: 20px;
}

.ckl-field-text p.citation,
.ckl-field-text p.citationbis,
.ckl-field-text p.citationter {
  font-size: 14px;
  color: #586069;
  border-left: 4px solid #dde1e4;
  padding-left: 20px;
}

.ckl-field-text p.citationbis {
  border-left-style: dashed;
}

.ckl-field-text p.citationter {
  border-left-style: dotted;
}

.ckl-field-text ul,
.ckl-field-text ol {
  font-size: 14px;
}

.ckl-field-text img {
  max-width: 100%;
}

.ckl-field-text table {
  font-size: 12px;
  border-spacing: 0;
  border-collapse: collapse;
}

.ckl-field-text table td {
  margin: 0;
  padding: 4px;
}

.ckl-field-text a[id^=tocto]:not(:hover) {
  text-decoration: none;
}

.ckl-field-text .encadre {
  background-color: #f6f8fa;
  margin-bottom: 0;
  padding: 16px;
}

.ckl-field-text .groupe-illustration,
.ckl-field-text .textIcon {
  padding-left: 20px;
  border-left: 4px solid #FFE49F;
}

.ckl-field-text .titreillustration,
.ckl-field-text .legendeillustration,
.ckl-field-text .creditillustration {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 125%;
}

.ckl-field-text .titreillustration {
  font-weight: bold;
}

.ckl-field-text .creditillustration {
  color: #586069;
}

.ckl-field-text .encadre + .encadre {
  margin-top: 0;
  padding-top: 0;
}

.ckl-field-text .separateur {
  text-align: center;
  color: #4c535b;
  font-size: 20px;
}

.ckl-field-text .question, .ckl-field-text .reponse {
  color: #4c535b;
}

.ckl-field-text .question {
  font-weight: bold;
}

.ckl-field-text .code {
  font-family: "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 14px;
  line-height: 125%;
}

/* Bibliographie, annexe, notes */

[data-field=bibliographie] .ckl-field-value,
[data-field=annexe] .ckl-field-value,
[data-field=notesbaspage] .ckl-field-value,
[data-field=notefin] .ckl-field-value {
  font-size: 14px;
}

.footnotecall, .FootnoteSymbol {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

.footnotecall {
  margin-left: 4px;
}

.footnotecall::before, .FootnoteSymbol::before {
  content: "[";
}

.footnotecall::after, .FootnoteSymbol::after {
  content: "]";
}

/* Indexes */

.ckl-index-shortcuts > * {
  text-decoration: none;
  margin-right: 5px;
}

.ckl-index-section-header a {
  text-decoration: none;
}

.ckl-entries + .ckl-entries {
  margin-top: 12px;
}

.ckl-entry {
  text-decoration: none;
}

.ckl-index-list {
  list-style-type: none;
}

.ckl-index-alphabetique .ckl-index-list,
.ckl-index-personnes .ckl-index-list,
.ckl-index-list-root {
  padding: 0;
}

.ckl-index-list-nested {
  margin: 0 0 0 1em;
  padding: 0;
}

.ckl-index-list-nested li {
  margin-left: 0.35em;
  border-left: 1px solid #000;
}

.ckl-index-list-nested li:last-child {
  border-left: none;
}

.ckl-index-list-nested li:before {
  width: 0.9em;
  height: 0.6em;
  margin-right: 0.1em;
  vertical-align: top;
  border-bottom: 1px solid #000;
  content: "";
  display: inline-block;
}

.ckl-index-list-nested li:last-child:before {
  border-left: 1px solid #000;
}

/* Batch Export */

.ckl-tab-batch {
  color: #4c535b;
}

.tagify__dropdown__item {
  display: flex;
  align-items: center;
}

.tag-description {
  color: #79848E;
  margin-right: 5px;
}

.tagify__dropdown__item--active .tag-description {
  color: #fff
}

.tag-description::after {
  content: " | ";
}

.tag-id {
  background-color: #E5E5E5;
  padding: 2px 4px;
  font-size: 70%;
  margin-left: 5px;
  border-radius: 3px;
  color: #000;
}

.ckl-batch-options {
  margin: 30px 0;
}

.ckl-batch-progress {
  width: 100%;
  background-color: #dde1e4;
}

.ckl-batch-progress-bar {
  width: 0;
  height: 10px;
  background-color: #8cb442;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}

.batch-running #ckl-batch-btn {
  background-color: #dde1e4;
  border-color: #dde1e4;
  color: #000;
  cursor: not-allowed;
}

.batch-done #ckl-batch-btn {
  background-color: #8cb442;
  border-color: #8cb442;
}

.ckl-msg-running, .ckl-msg-done, .batch-running .ckl-msg-run, .batch-done .ckl-msg-run {
  display: none;
}

.batch-running .ckl-msg-running, .batch-done .ckl-msg-done {
  display: block;
}

/* Styles media desktop */

@media screen and (min-width: 1150px) {
  .ckl-field {
    display: flex;
    align-items: flex-start;
  }

  .ckl-field-title {
    flex-shrink: 0;
    min-width: 200px;
    width: 200px;
    padding-right: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
  }

  .ckl-field-value :first-child {
    margin-top: 0;
  }

  .ckl-field-value :last-child {
    margin-bottom: 0;
  }

  [data-field=titre] .ckl-field-title {
    padding-top: 20px;
  }

  .ckl-summary-publi-header [data-field=titre] .ckl-field-title {
    padding-top: 12px;
  }
}

/* Masquer le fil d'arianne de Lodel */
#siteContext {
  display: none;
}

/* Fix Lodel : eviter le scroll horizontal */
img#lodelGlobalDeskDisplayer-img {
  display: block;
  padding: 5px 0;
}
